#About {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}


.profile-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
}

.hero-img {
    width: 50%;
}

.hero-name {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.hero-name h5 {
    font-weight: 500;
    font-size: 17px;
    transform: translateY(10px);
}

.hero-name h1 {
    margin: 0;
    font-size: 35px;
}

.auto-type,
.typed-cursor {
    font-size: 35px;
    color: #FC6736;
    font-weight: bold;

}

.links a {
    color: black;
    font-size: 17px;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    font-weight: 600;

}

.links a:hover{
    color:#FC6736;
    border-bottom: none;    
    cursor: pointer;
}

.intro {
    display: flex;
    gap: 8px;
    align-items: baseline;
}


.intro img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
}

.links {
    display: flex;
    gap: 10px;
    align-items: center;

}

@media (max-width: 768px) {
    .profile-container {
        width: 100%;
    }
}