.App {
    width: 80vw;
    margin: auto;
    box-sizing: border-box;
    height: fit-content;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25%;
    background: rgba(128, 128, 128, 0.463);
}

html{
    scroll-behavior: smooth;
}

@media (max-width : 576px){

    .App{
        width: 100%;
        padding:0 1rem;
    }
}